#john{
  background-color:azure;
  border-style: double;
  padding: 2px;
  border-radius: 2px;
}

@media (min-width: 760px) {
  #john {
    background-color: lightgoldenrodyellow;
  }
}

@media (max-width: 480px) {
  #john {
    background-color: seagreen;
  }
}



#practice-section{
  background-color:black;
  color:white;
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;800&display=swap');

#nina{
  border: 2px groove #41245c;
  background:#a091ad;
  color:#41245c;
  padding: 2.5em 2em;
  margin: 10px 0px;
}

#nina h1{
  font-family: 'Shippori Mincho B1', serif;
}

#chris{
  color:white;
  font-family: 'Orbitron', sans-serif;
  background-image: url(https://images.e-flux-systems.com/1496954377901.png,2000);
  text-shadow: 4px 4px 5px black;
}

#sageheader{
  color:pink;
  text-decoration: underline;
  font-weight: bolder;
}
#sagebody{
  border-style: groove;
  background-color: navy;
}

  
#Man{
  color:blue;
  
}
#Wei{border:solid;
  background-color: lightblue;
  text-align: center;

}


#Antoinette{
  color: black;
  background-color: yellow;
  border-style: solid 2px;
  border-color: blue;
  padding: 30px;
  font-family: cursive;
  font-size: 20px;
  
}



#DSean{
  color: rgb(50, 204, 76);
  border-style: double;
  padding: 40px;
  text-align: center;
}
 

 #Jaya{
   padding: 10px;
   margin: 10px;
   background-color: white;
   border-style: solid 10px;
   border-color: brown;
 }

 #Kalotha{
   background-color: pink;
   color: rgb(110, 12, 28);
   border-style: double;
   padding:20px;
   text-align: center;
 }



 #kalotha-btun{
    font-size: 25px;
 }

#kimage{
  padding: 5px;
  margin: 5px;
  max-width: 100%;
}

#jill{
  background-color: #c49b04;
  border-style: double 5px;
  padding: 15px;
  text-align: justify;
  color: #8905a3;
}

#butterfly{
  text-decoration: underline;
}

#tad {
  background-color: dodgerblue; 
  padding:10px;
  text-align: center;
  display:flex;
}


#willparagraph1 {
  color: white;
}

